registry=http://65.0.110.46:8081/repository/node-project/

//65.0.110.46:8081/repository/node-project/:username=admin
//65.0.110.46:8081/repository/node-project/:_password=YWRtaW4xMjM=
//65.0.110.46:8081/repository/node-project/:email=manojgk0210@gmail.com
//65.0.110.46:8081/repository/node-project/:always-auth=true
